#button-container 
{
    position: relative;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px; /* Optional: Add some margin to adjust spacing */
}